node_modules

.vscode/*
!.vscode/extensions.json

.env

claude.md


# Firebase logging files
dataconnect/.dataconnect
.firebase
dataconnect-debug.log
firebase-debug.log
pglite-debug.log
src/dataconnect-generated


#repomix files
repomix-output.xml


# personal notes
notes.txt